[Desktop Entry]
Name=Flopcoin Core
Comment=Connect to the Flopcoin P2P Network
Comment[de]=Verbinde mit dem Flopcoin peer-to-peer Netzwerk
Comment[fr]=Flopcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Flopcoin, eşten eşe kriptografik sanal para birimi
Exec=flopcoin-qt %u
Terminal=false
Type=Application
Icon=flopcoin128
MimeType=x-scheme-handler/flopcoin;
Categories=Office;Finance;
